body {
    color: #B2B2B2;
    font-family: 'mb_empire';
    font-weight: normal;
}

@font-face {
    font-family: 'mb_empire';
    src: url('../css/fonts/mbempire-medium-webfont.eot');
    src: url('../css/fonts/mbempire-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/mbempire-medium-webfont.woff2') format('woff2'), url('../css/fonts/mbempire-medium-webfont.woff') format('woff'), url('../css/fonts/mbempire-medium-webfont.ttf') format('truetype'), url('../css/fonts/mbempire-medium-webfont.svg#mb_empiremedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mb_empire';
    src: url('../css/fonts/mbempire-black-webfont.eot');
    src: url('../css/fonts/mbempire-black-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/mbempire-black-webfont.woff2') format('woff2'), url('../css/fonts/mbempire-black-webfont.woff') format('woff'), url('../css/fonts/mbempire-black-webfont.ttf') format('truetype'), url('../css/fonts/mbempire-black-webfont.svg#mb_empireblack') format('svg');
    font-weight: 700;
    font-style: 700;
}

h1.logo {
    color: black;
    font-size: 60px;
    letter-spacing: 12px;
    margin-left: -4px;
    padding-bottom: 93px;
}

a:link {
    color: #B2B2B2;
}

a:visited {
    color: #B2B2B2;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: #B2B2B2;
}

.form-control,
.tag-selector {
    font-size: 15px;
    letter-spacing: 1px;
}

.menu_category {
    font-size: 12px;
}

select,
.form-control,
.custom-select {
    border-radius: 0;
    color: #B2B2B2;
    border: 1px solid #B2B2B2;
}

.form-control::-webkit-input-placeholder {
    color: #B2B2B2;
}

.form-control::-moz-placeholder {
    color: #B2B2B2;
}

.form-control::-ms-placeholder {
    color: #B2B2B2;
}

.form-control::placeholder {
    color: #B2B2B2;
}

#search-word-button {
    border-color: #B2B2B2;
    border-radius: 0;
    border-left: 0;
}

#formSearchWord {
    border-right: 0;
    padding: 27px 25px;
}

#search-field-group {
    margin-bottom: 40px;
}

.tag-selector {
    padding: 17px 25px;
    height: 100%;
    margin-bottom: 26px;
}

.tag,
.favorite {
    cursor: pointer;
}

.favorite {
    color: black;
}

.loaded-image {
    position: relative;
    padding-bottom: 30px;
    cursor: pointer;
}

.search-favorite {
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-size: 18px !important;
}

.modal-content {
    border: none;
    border-radius: 0;
}

#clear-selection {
    border-radius: 0;
    background-color: #B2B2B2;
    border: 0;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 20px 26px;
    margin-right: 18px;
}

#clear-selection:hover {
    background-color: rgb(156, 156, 156);
    border: 0;
}

#show-favorites i {
    font-size: 18px;
    margin-right: 4px;
}

#show-favorites {
    font-size: 12px;
    height: 100%
}

#footer {
    letter-spacing: 1px;
}

.small-id {
    font-size: 7px;
    opacity: 50%;
}

.modal-tags {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.modal-close {
    position: absolute;
    right: 41px;
    top: 35px;
}

.modal-tag {
    margin-right: 15px;
}

.modal-body {
    padding: 20px;
}

.navbar-light .navbar-toggler {
    color: #000000;
    border: none;
    padding: .25rem 0;
}

.navbar {
    text-align: right;
    padding: 1rem 0;
}

#front-img-1 span span {
    font-size: 12px;
}

#front-img-1 span {
    color: black;
}

#front-img-1 h4 {
    font-weight: 700;
}

#front-lettering {
    background-color: #cc9b87;
    margin-bottom: 30px;
    height: 600px;
    padding: 20px;
    cursor: pointer;
}

.front-lettering-1,
.front-lettering-2,
.front-lettering-3,
.front-lettering-4,
.front-lettering-6 {
    color: #000;
    font-size: 30px;
}

.front-lettering-1 {
    font-family: 'Signerica';
}

.front-lettering-2 {
    font-family: 'Cutive Mono';
}

.front-lettering-3 {
    font-family: 'Elephant';
}

.front-lettering-4 {
    font-family: 'Orator Std';
}

.front-lettering-5 {
    border-top: 1px solid;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    padding-top: 20px;
    width: 100%;
}

.front-lettering-5 span {
    font-size: 12px;
}

.front-lettering-6 {
    font-family: 'Century Gothic';
}

#front-img-2 span {
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
}

#front-img-3 span {
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}