<HTML>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<BODY bgcolor="cyan">
<form method="POST" action="" enctype=multipart/form-data>
    <center>
    <H1>Enter your details </H1> <br>
    Tags (comma sepereated) <input type = "text" name= "tag" /> <br>
    Upload Img <input type = "file" name= "vector_file" /> <br>
    <input name="action" value="submit" type = "submit">
    </center>
</form>
</BODY>
</HTML>