{% extends 'setup.html'%} {% block page_content %}
<section id="search-word">

    <div class="container">
        <div class="row">

            <div class="col">
                <h1>Search!</h1>
                <form id="search-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" id="formSearchWord" name="word" placeholder="Search..." aria-label="Search">
                    </div>
                    <button type="submit" class="btn btn-primary my-1" id="search-word-button">Search</button>
                    <select class="custom-select tag-selector">
                        <option selected>Select a category</option>
                      </select>
                </form>
                <a href="#" class="menu_category">All</a> <a href="#" class="menu_category">Diamond</a> <a href="#" class="menu_category">Fineline</a>
                <i class='material-icons'>favorite</i><span id="favorite-count"></span>
            </div>
        </div>




        <div class="row">

            <div class="col" id="search-images">
            </div </div>
            <div class="row">
                <div class="col-4">
                    <div id="search-images-col-1" class="search-images-col"></div>
                </div>
                <div class="col-4">
                    <div id="search-images-col-2" class="search-images-col"></div>
                </div>
                <div class="col-4">
                    <div id="search-images-col-3" class="search-images-col"></div>
                </div>



            </div>

            <div id="pagination-container"></div>


        </div>




</section>

{% endblock %}