{% extends 'setup.html'%} {% block page_content %}
<section id="search-word">
    <div class="row">
        <div class="col">
            <form id="search-form" enctype="multipart/form-data">
                <div class="input-group" id="search-field-group">
                    <input type="text" class="form-control" id="formSearchWord" name="word" placeholder="Search..." aria-label="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary material-icons" id="search-word-button">search</button>
                    </div>
                </div>

                <select class="custom-select tag-selector">
                        <option selected>SELECT A CATEGORY</option>
                      </select>
            </form>
            <div class="row mb-5">
                <div class="col d-flex"><a href="#" class="menu_category search-tags align-self-center" value="all">ALL</a></div>

                <div class="col d-flex h-100 justify-content-end">
                    <span id="show-favorites" class="float-right align-self-center"><i class='material-icons favorite align-middle d-inline-block'>favorite</i><span id="favorite-count" class="align-middle d-inline-block"></span></span>
                    <button type="button" id="clear-selection" class="btn btn-secondary float-right">CLEAR SELECTION</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div id="search-images-col-1" class="search-images-col"></div>
        </div>
        <div class="col-4">
            <div id="search-images-col-2" class="search-images-col"></div>
        </div>
        <div class="col-4">
            <div id="search-images-col-3" class="search-images-col"></div>
        </div>
    </div>

    <div class="row m-4">
        <div id="footer" class="col text-center">Blaek Studios &copy; 2020</div>
    </div>
</section>

{% endblock %}