{% extends 'setup.html'%} {% block page_content %}
<section id="search-word">

    <div class="container">
        <div class="row">

            <div class="col">
                <h1>Search!</h1>
                <form id="search-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" id="formSearchWord" name="word" placeholder="Search..." aria-label="Search">
                    </div>
                    <button type="submit" class="btn btn-primary my-1" id="search-word-button">Search</button>
                </form>
            </div>
        </div>




        <div class="row">

            <div class="col" id="search-images">
            </div>

        </div>




    </div>




</section>

{% endblock %}